---
layout: page
title: Blog
---

{% for post in paginator.posts %}
<div class="card border-info mb-3 bg-secondary" onclick="window.location = '{{ post.url }}'">
  <div class="card-header">{{ post.date | date: "%Y %b %d" }}</div>
  <div class="card-body">
    <h4 class="card-title">{{ post.title }}</h4>
    <p class="card-text">{{ post.content | strip_html | truncatewords: 50 }} <a href="{{ post.url }}"> Read more</a></p>
  </div>
</div>
{% endfor %}

<!-- Pagination links -->
<div>
  <ul class="pagination pagination-lg">
    {% if paginator.previous_page %}
    <li class="page-item">
    {% else %}
    <li class="page-item disabled">
    {% endif %}
      <a class="page-link" href="{{ paginator.previous_page_path }}">&laquo;</a>
    </li>
    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <li class="page-item active">
    {% else %}
    <li class="page-item">
    {% endif %}
    {% if page == paginator.page %}
      <a class="page-link">{{ page }}</a>
    {% elsif page == 1 %}
      <a class="page-link" href="{{ '/blog/' | relative_url }}">{{ page }}</a>
    {% else %}
      <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    </li>
    {% endfor %}
    {% if paginator.next_page %}
    <li class="page-item">
    {% else %}
    <li class="page-item disabled">
    {% endif %}
      <a class="page-link" href="{{ paginator.next_page_path }}">&raquo;</a>
    </li>
  </ul>
</div>